body {
    background-color: whitesmoke;
    margin: 5% 20%;
}

h1 {
    border: 5px solid navy;
    border-radius: 10px;
    background-color: navy;

    text-align: center;
    color: white;
    font-size: 300%;
}

table {
    width: 100%;
}

td {
    font-weight: bold;
    font-size: 200%;
}

td:first-child {
    text-align: left;
}

td:last-child {
    text-align: right;
}

div {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

div select {
    background-color: navy;
    color: white;
    font-weight: bold;
}

.measurement-select {
    background-color: lightgray;
    font-weight: bold;
}

#table-measurementselectinput {
    text-align: center;
}

#table-arrow {

    text-align: center;
}

#table-secondinput {
    text-align: center;
}

