@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;700&display=swap');

body {
    background-color: whitesmoke;
    margin: auto;
    width: max-content;
    font-family:  'Fira Sans', sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

table select,
table input {
    font-size: large;
}

#td2 {
    text-align: right;
}

h1, 
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 700;
}

h1 {
    border: 5px solid navy;
    border-radius: 10px;
    background-color: navy;

    text-align: center;
    color: white;
    font-size: 300%;
    width: 100%;
}

table {
    width: 100%;
}

tbody {
    display: contents;
}

tr {
    display: flex;
    justify-content: space-between;
}

td {
    font-weight: bold;
    font-size: 200%;
}


div {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

div select {
    background-color: navy;
    color: white;
    font-weight: bold;
}

.measurement-select {
    background-color: lightgray;
    font-weight: bold;
}

#table-measurementselectinput {
    text-align: center;
}

#table-arrow {

    text-align: center;
    padding: 10px;
}

#table-secondinput {
    text-align: center;
}

#converter_div {
    width: 100%;
}

#converter {
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

#converter tr {
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

@media only screen and (max-width: 600px) {
    body{
        width: 90%;
    }

    footer {
        justify-content: center;
    }

    #converter tr {
        flex-direction: column;
    }

    #table-arrow {
        pointer-events: none;
        transform: rotate(90deg);
    }

    table select,
    table input {
        width: 100%;
    }
}

